@model Pract.Models.Book

@{
    ViewBag.Title = "Редактировать книгу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать книгу</h2>

@Html.Partial("_PartialBooksEdit", Model, new ViewDataDictionary(this.ViewData) {
    { "Value", "Сохранить" },
    { "Class", "btn btn-edit" },
    { "HiddenId", "true" }
})
