@model Pract.Models.UserManagementViewModel

@{
    ViewBag.Title = "Добавить пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить пользователя</h2>

@Html.Partial("_PartialUserManagementEdit", Model, new ViewDataDictionary(this.ViewData) {
    { "Value", "Добавить" },
    { "Class", "btn btn-create" },
    { "HiddenId", "false" }
})
