@model Pract.Models.UserManagementViewModel

@{
    ViewBag.Title = "Редактировать пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать пользователя</h2>

@Html.Partial("_PartialUserManagementEdit", Model, new ViewDataDictionary(this.ViewData) {
    { "Value", "Сохранить" },
    { "Class", "btn btn-edit" },
    { "HiddenId", "true" }
})

