body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style: none;
}

.btn {
    transition: 0.2s;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.btn:hover {
    color: white;
}

.btn-edit {
    background: rgb(194, 203, 51);
    box-shadow: 0 -3px rgb(179, 181, 62) inset;
}

.btn-create {
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
}

.btn-delete {
    background: rgb(224, 26, 26);
    box-shadow: 0 -3px rgb(181, 33, 33) inset;
}

.btn-back {
    background: rgb(105, 114, 236);
    box-shadow: 0 -3px rgb(63, 47, 148) inset;
}

.btn-login {
    background: rgb(81, 196, 207);
    box-shadow: 0 -3px rgb(61, 147, 166) inset;
}

.btn-logout {
    float: right;
    background: rgba(115, 119, 111, 0.24);
    margin-top: 10px;
}

.btn-create:hover {
    background: rgb(53,167,110);
}

.btn-edit:hover {
    background: rgb(179, 181, 62);
}

.btn-delete:hover {
    background: rgb(181, 33, 33);
}

.btn-back:hover {
    background: rgb(63, 47, 148);
}

.btn-login:hover {
    background: rgb(61, 147, 166);
}

.btn-logout:hover {
    background: rgb(70, 70, 70);
}