@model Pract.Models.ReceiptEditViewModel

@{
    ViewBag.Title = "Добавление выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавлние выдачи</h2>

@Html.Partial("_PartialReceiptsEdit", Model, new ViewDataDictionary(this.ViewData) {
    { "Value", "Добавить" },
    { "Class", "btn btn-create" },
    { "HiddenId", "false" }
})

