@model Pract.Models.ReceiptEditViewModel

@{
    ViewBag.Title = "Редактировать выдачу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать выдачу</h2>

@Html.Partial("_PartialReceiptsEdit", Model, new ViewDataDictionary(this.ViewData) {
    { "Value", "Сохранить" },
    { "Class", "btn btn-edit" },
    { "HiddenId", "true" }
})

