@model IEnumerable<Pract.Models.Receipt>

@{
    ViewBag.Title = "Выдача книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выдача книг</h2>
@Html.Partial("_PartialReceiptsIndex", Model)
@Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-create" })
@Html.ActionLink("Список просроченных выдач", "Overdue")
