@model Pract.Models.ReceiptPagingViewModel

@{
    ViewBag.Title = "Выдача книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsUser = HttpContext.Current.GetOwinContext().Authentication.User.IsInRole("User");
}

<h2>Выдача книг</h2>
@Html.Partial("_PartialReceiptsIndex", Model)
@if (!ViewBag.IsUser)
{
    @Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-create" })
}
@Html.ActionLink("Только просроченные выдачи", "Overdue")

