@model Pract.Models.ReceiptPagingViewModel

@{
    ViewBag.Title = "Выдача книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выдача книг</h2>
@Html.Partial("_PartialReceiptsIndex", Model)
@if (!HttpContext.Current.GetOwinContext().Authentication.User.IsInRole("User"))
{
    @Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-create" })
}
@Html.ActionLink("Только просроченные выдачи", "Overdue")

