@model IEnumerable<Pract.Models.Receipt>

@{
    ViewBag.Title = "Просроченные выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просроченные выдачи</h2>
@Html.Partial("_PartialReceiptsIndex", Model)
<div>
    @Html.ActionLink("Вернуться обратно", "Index", null, htmlAttributes: new { @class = "btn btn-back" })
</div>
