@model Pract.Models.ReceiptPagingViewModel

@{
    ViewBag.Title = "Просроченные выдачи";
    ViewBag.IsUser = HttpContext.Current.GetOwinContext().Authentication.User.IsInRole("User");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просроченные выдачи</h2>
@Html.Partial("_PartialReceiptsIndex", Model)
<div>
    @Html.ActionLink("Вернуться обратно", "Index", null, htmlAttributes: new { @class = "btn btn-back" })
</div>
