@model Pract.Models.User

@{
    ViewBag.Title = "Редактировать человека";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать человека</h2>

@Html.Partial("_PartialUsersEdit", Model, new ViewDataDictionary(this.ViewData) {
    { "Value", "Сохранить" },
    { "Class", "btn btn-edit" },
    { "HiddenId", "true" }
})
